<html>
    <head>
        <title>Mongoose Overview</title>
    </head>
    <form action="/users">
        name:
        <input type="text" name="name"><br>
        age:
        <input type="text" name="age"><br>
        <input type="submit" value="send">
    </form>
</html>