<html>
    <head>
        <title>Quoting Dojo</title>
    </head>
    <body>
        <h2>Welcome to Quoting Dojo</h2>
        <form action="/quotes" method="post">
            Your name:
            <input type="text" name="name"><br>
            Your quote:
            <input type="text" name="quote"><br>
            <input type="submit" value="post">
        </form>
        <a href="/quotes">skip</a>
    </body>
</html>